/.lake
.DS_Store
docs/Documentation.aux
docs/Documentation.dvi
docs/Documentation.fdb_latexmk
docs/Documentation.log
docs/Documentation.out
docs/Documentation.synctex.gz
docs/Documentation.toc

/latex
*.aux
*.log
*.out
*.fdb_latexmk
*.fls
latex_source_files/besovish-2020-07-18.synctex.gz
*.toc
preprint-source/besovish-2020-07-18.synctex.gz
docpdf/Documentation.synctex.gz
proof.fdb_latexmk
proof.fls
proof.synctex.gz
proof.synctex.gz
